body {
  font: 10px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* GLOBAL */
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

input[type="submit"] {
  font-size: 15px;
  background-color: #fff;
  color: black;
  border: black 2px solid;
  width: 180px;
  height: 40px;
  margin-top: 20px;
}

/* header  */
header {
  min-height: 70px;
  margin: 10px 0;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container h1 {
  font-size: 16px;
  letter-spacing: 0.3em;
  color: #222;
}

header .container img {
  margin-left: 95%;
  translate: -20% -140%;
}

header .container nav {
  margin-bottom: 25px;
}

header li {
  display: inline;
  padding: 0 5px 0 35px;
  letter-spacing: 0.05em;
}

header a {
  text-decoration: none;
  font-size: 13px;
  color: #222;
}

/* section showcase */
#intro {
  min-height: 30px;
}

#intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro .container h2 {
  font-size: 16px;
  font-weight: normal;
  color: #222;
  letter-spacing: 0.02em;
  margin-top: 30px;
}

#intro .container p {
  margin-top: 0;
  color: #777;
  font-size: larger;
}

#intro .container img {
  width: 100%;
}

/* section catalogue */
#catalogue .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#catalogue .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
#catalogue .container .box h3 {
  margin-top: 50px;
  margin-bottom: 0px;
  color: #222;
  font-size: 12px;
}
#catalogue .container .box p {
  margin-top: 0;
  margin-bottom: 40px;
  color: grey;
  font-size: 12px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: grey;
  margin-top: 5%;
}

/* product description page css */
/* main description css */
#product .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#product .container img {
  /* width: 100%; */
}
#product .container #description {
  flex-basis: 30%;
}

#product .container #description h1 {
  color: #333;
  font-size: 25px;
  font-weight: lighter;
}

#product .container #description p {
  color: grey;
  font-size: 15px;
  margin-bottom: 25px;
}

#product .container #description h3 {
  color: #222;
  font-size: 15px;
  margin-top: 25px;
}

#product .container #description .description {
  color: grey;
  font-size: 14px;
  margin-top: 25px;
}

#product .container #description .description p {
  color: grey;
  font-size: 14px;
  margin-top: 25px;
}

#product .container #description ul li {
  margin-left: 30px;
  margin-bottom: 7px;
}

#product .container #description input {
  margin-top: 35px;
}

form {
  font-size: 14px;
  color: #656565;
}

#size {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
  padding-top: 2%;
  padding-bottom: 2%;
}
#size #sizes {
  margin-left: 10%;
  flex-grow: 1;
  border: none;
  font-size: larger;
  background-color: #fff;
}

#quantity {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  padding-top: 2%;
  padding-bottom: 2%;
}
#quantity #quantities {
  margin-left: 5%;
  flex-grow: 1;
  border: none;
  font-size: larger;
  background-color: #fff;
}

/* cart css starts here  */
#all-products .container {
  display: flex;
  padding: 2%;
  align-items: center;
  justify-content: space-around;
  color: #656565;
  font-size: 11px;
}

#all-products .container img {
  height: 100px;
  margin-left: 10%;
}

#all-products .container h3 {
  flex-grow: 0.2;
}

#all-products .container button {
  height: 20px;
  width: 20px;
  padding: 1px;
  border: none;
  background-color: #fff;
  color: #666;
  margin-right: 10%;
}

#prod-size {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
}
#prod-size #si {
  margin-left: 2px;
  flex-grow: 1;
  border: none;
  font-size: larger;
  background-color: #fff;
}

#prod-qty {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
}
#prod-qty #qty {
  margin-left: 2px;
  flex-grow: 1;
  border: none;
  font-size: larger;
  background-color: #fff;
}

/* checkout page starts here  */
#check {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#check input {
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  border: none;
  border-bottom: #666 solid 1.5px;
}
#check input[type="submit"] {
  border: #222 solid 1.75px;
  width: 50%;
}
#check .container h4 {
  margin-top: 30px;
}

#left-checkout .container {
  width: 500px;
}
#right-checkout .container {
  width: 500px;
}

table tr td {
  padding-top: 7px;
}

div.total {
  padding-top: 25px;
  width: 50px;
}

#countries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 13px;
}
#countries #country {
  flex-grow: 0.5;
  margin-top: 10px;
  border: none;
  margin-left: -5px;
  font-size: larger;
  background-color: #fff;
  color: #333;
}

#expiry {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 13px;
}
#expiry #yr {
  flex-grow: 0.25;
  border: none;
  font-size: larger;
  background-color: #fff;
  margin-left: 25px;
  color: #333;
}
#expiry #mnt {
  flex-grow: 0.25;
  margin-left: 15px;
  border: none;
  font-size: larger;
  background-color: #fff;
  color: #333;
}
