body {
  font: 10px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* GLOBAL */
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  font-size: 15px;
  background-color: #fff;
  color: black;
  border: black 2px solid;
  width: 180px;
  height: 40px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #111;
}

/* header  */
header {
  min-height: 70px;
  margin: 10px 0;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container h1 {
  font-size: 16px;
  letter-spacing: 0.3em;
  color: #222;
}

header .container nav {
  margin-bottom: 25px;
}

header li {
  display: inline;
  padding: 0 5px 0 35px;
  letter-spacing: 0.05em;
}

header a {
  text-decoration: none;
  font-size: 13px;
  color: #222;
}

/* Section */
section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

section img {
  margin-bottom: 20px;
}

section#tshirts {
  display: flex;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: grey;
  margin-top: 5%;
}
